{% extends 'layout.html' %} 

{% block title %}
<title>首页 - 直波侠</title>
{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
<div class="main">

<div class="card">

<div class="nav-tab">
<div class="main-tab">
<i class="icon-live"></i>
<a href="" class="tab-item">正在直播</a>
</div>
</div>


<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/p/1">德甲第34轮 拜仁慕尼黑 - 美因茨05</a></li>
  <li><a class="video-tag" href="/">汉堡 - 沙尔克04</a></li>
  <li><a class="video-tag" href="/">法兰克福 - 勒沃库森</a></li>
<li><a class="video-tag" href="/">门兴 - 奥格斯堡</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">NBA西部决赛3 火箭 - 勇士</a></li>
<li><a class="video-tag" href="/">NBA东部决赛3 骑士 - 老鹰</a></li>
</ul>
  </div></div>
</div>

<div class="card">

<div class="nav-tab">
<div class="main-tab">
<i class="icon-football"></i>
<a href="" class="tab-item">足球精选</a>
</div>
</div>


<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">贵州人和vs上海上港 上港首败</a></li>
  <li><a class="video-tag" href="/">头脑发热！七大最愚蠢红牌下场</a></li>
  <li><a class="video-tag" href="/">真死敌！博卡河床女足比赛暴力犯规</a></li>
<li><a class="video-tag" href="/">石家庄永昌vs杭州绿城</a></li>
<li><a class="video-tag" href="/">可否信服？当今足坛5大中卫</a></li>
<li><a class="video-tag" href="/">戴帽狂人！C罗生涯至今32个帽子合集</a></li>
<li><a class="video-tag" href="/">内维尔分析德佩加盟曼联前景</a></li>
<li><a class="video-tag" href="/">俄罗斯技术最屌的大神-莫斯托沃伊</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">安帅：我希望留在皇马</a></li>
<li><a class="video-tag" href="/">穆帅：不该说反切尔西运动</a></li>
<li><a class="video-tag" href="/">范加尔相信德赫亚留队</a></li>
<li><a class="video-tag" href="/">恩里克:维尔马伦将首秀</a></li>
<li><a class="video-tag" href="/">图-一代宗师哈维</a></li>
<li><a class="video-tag" href="/">法国队名单:博格巴领衔</a></li>
<li><a class="video-tag" href="/">卡西：当然希望德赫亚来</a></li>
<li><a class="video-tag" href="/">里皮飞抵广州助阵恒大</a></li>
<li><a class="video-tag" href="/">阿帅：巴萨世界最强队</a></li>
<li><a class="video-tag" href="/">图-哈维巴萨戎马岁月</a></li>
</ul>
  </div></div>
</div>



<div class="card">
<div class="nav-tab">
<div class="main-tab">
<i class="icon-basketball"></i>
<a href="" class="tab-item">篮球推荐</a>
</div>
</div>
<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">第一竟是他！NBA历史十大360暴扣</a></li>
  <li><a class="video-tag" href="/">今日五佳球-JR惊艳超级拉杆</a></li>
  <li><a class="video-tag" href="/">老鹰vs骑士2</a></li>
<li><a class="video-tag" href="/">废人？安蒂奇推翻詹姆斯</a></li>
<li><a class="video-tag" href="/">搞笑！老詹活蹦乱跳砸板</a></li>
<li><a class="video-tag" href="/">这球犯规了？汤普森迎面血帽</a></li>
<li><a class="video-tag" href="/">欧文赛季疯狂进攻表演</a></li>
<li><a class="video-tag" href="/">格里芬赛季十大劲爆扣篮</a></li>
<li><a class="video-tag" href="/">小乔丹赛季凶残十佳球</a></li>
<li><a class="video-tag" href="/">科比发推特下季最后一季？</a></li>
<li><a class="video-tag" href="/">NBA神奇逆天进球合辑</a></li>
<li><a class="video-tag" href="/">青涩韦德无敌开挂</a></li>
<li><a class="video-tag" href="/">威少前几赛季已无解</a></li>
<li><a class="video-tag" href="/">科比09季后太猛</a></li>
<li><a class="video-tag" href="/">小皇帝高中封神</a></li>
</ul>
  </div>
</div>

<div class="feed">
<div class="feed-down">
  <ul class="tags">
  <li><a class="video-tag" href="/">詹皇30+9+11骑士大胜2-0老鹰</a></li>
<li><a class="video-tag" href="/">詹皇30+9+11激活全队</a></li>
<li><a class="video-tag" href="/">魔术师称赞詹姆斯</a></li>
<li><a class="video-tag" href="/">2-0后詹皇没输过系列赛</a></li>
<li><a class="video-tag" href="/">图-晒肌肉狂魔内特</a></li>
<li><a class="video-tag" href="/">LBJ追平杰里-韦斯特纪录</a></li>
<li><a class="video-tag" href="/">科比承认下季是湖人最后1年</a></li>
<li><a class="video-tag" href="/">詹皇开启魔术师模式</a></li>
<li><a class="video-tag" href="/">香波特轰4颗三分</a></li>
<li><a class="video-tag" href="/">图-国青小将惊艳女友</a></li>
</ul>
  </div></div>
</div>

<div class="card">

<div class="nav-tab">
<div class="main-tab">
<i class="icon-timer"></i>
<a href="" class="tab-item">精选直播</a>
</div>
</div>


<div class="feed">
<table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>时间</th>
          <th>赛事</th>
          <th>比赛对阵</th>
          <th>直播频道</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>星期三</td>
          <td>05月27日</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>

        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>

        <tr class="success">
          <td>星期四</td>
          <td>05月28日</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>



        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>

        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>

        <tr class="success">
          <td>星期六</td>
          <td>05月30日</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>

        <tr>
          <th scope="row">17:00</th>
          <td>网球</td>
          <td>法国网球公开赛第二轮</td>
          <td>CCTV5+</td>
        </tr>
        <tr>
          <th scope="row">22:30</th>
          <td>排球</td>
          <td>瑞士女排精英赛 中国 VS 荷兰</td>
          <td>CCTV5</td>
        </tr>
        <tr>
          <th scope="row">23:00</th>
          <td>土伦杯</td>
          <td>荷兰 VS 哥斯达黎加</td>
          <td>广东体育</td>
        </tr>
      </tbody>
    </table>
</div>
</div>

</div>
</div>

<div class=" col-xs-12 col-md-3">
<div class="card">
<ul class="nav nav-list">
            <li class="nav-item">
                <a class="unlogin" href="javascript:;" data-link="user"> <i class="icon-home"></i>
                我的主页
                </a>
            </li>
            <li class="nav-item">
                <a class="unlogin" href="javascript:;" data-link="follows"> <i class="icon-follow"></i>
                我的所有关注
                </a>
            </li>
            <li class="nav-item">
                <a class="unlogin" href="javascript:;" data-link="notifications">
                    <i class="icon-message"></i>
                    我的消息 
                                    </a>
            </li>

            <li class="nav-item">
                <a class="unlogin" href="javascript:;" data-link="invitations">
                    <i class="icon-invitation"></i>
                    邀请我回答的问题 
                                    </a>
            </li>
            <li class="nav-item">
                <a class="unlogin" href="javascript:;" data-link="list">
                    <i class="icon-list"></i>
                    欲望清单
                </a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a class="unlogin" href="javascript:;" id="inviteJoin">
                    <i class="icon-invite"></i>
                    邀请朋友加入
                </a>
            </li>
        </ul>
</div>

<div class="card">
<div class="feed">
<a href="h/" target="_blank"><img src="http://avati.qiniudn.com/mm.jpg" border="0" width="250"  alt="100offer"></a>
</div>
</div>

<div class="card">
<div class="feed">
<span class="fade-header">今日热议主题</span>
</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/images.jpeg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">巴萨历史最强攻击组合</a>
    </div>

  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/Img384994476.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">15年1月21日库里22分10助大战哈登33分6助回顾</a>
    </div>

  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/20060927000202008fb.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">还是那熟悉的味道 </a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/119660859.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">刺激！火箭vs快船系列赛七场大战十佳球</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/b2b13867.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">霍华德谈胜快船：幸亏没像他们那样被逆转</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/20061018201001f08c5.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">哈维本周四将召开新闻发布会</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/1-1404112314140-L.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">韦德职业生涯高光进攻集锦</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/7bcd64a60ab5301c038bdf3b1d3a4f97_crop_north.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">豪哥：练出爆发力 林书豪身穿湖人队服训练</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/BbsImg143175384320829_770-920.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">汤普森：不想再回休城</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/MSN-logo-442x442.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">晚报：哈登45分季后赛新高 火箭胜勇士拒横扫</a>
    </div>
  </div>
  </div>

</div>
</div>

<div class="card">
<div class="feed">
<span class="fade-header">热门标签</span>
</div>
<div class="feed">
<a href="/go/mesos" class="item_node">林书豪</a>
<a href="/go/mesos" class="item_node">火箭</a>
<a href="/go/mesos" class="item_node">广州恒大</a>
<a href="/go/mesos" class="item_node">哈登</a>
<a href="/go/mesos" class="item_node">霍华德</a>
<a href="/go/mesos" class="item_node">皇家马德里</a>
<a href="/go/mesos" class="item_node">巴萨</a>
<a href="/go/mesos" class="item_node">亚冠</a>
<a href="/go/mesos" class="item_node">中国国足</a>
<a href="/go/mesos" class="item_node">NBA</a>
<a href="/go/mesos" class="item_node">韦德</a>
<a href="/go/mesos" class="item_node">詹姆斯</a>
<a href="/go/mesos" class="item_node">C罗</a>
<a href="/go/mesos" class="item_node">梅西</a>
<a href="/go/mesos" class="item_node">内马尔</a>
<a href="/go/mesos" class="item_node">哥斯达黎加</a>
<a href="/go/mesos" class="item_node">法网</a>
<a href="/go/mesos" class="item_node">NCAA</a>
<a href="/go/mesos" class="item_node">勇士</a>
</div>
</div>

</div>
{% endblock %} 

{% block javascript %} 

{% endblock %}
