{% extends 'layout.html' %} 

{% block title %}
<title>NBA - 直波侠</title>
{% endblock %} 

{% block stylesheet %}
<link rel="stylesheet" href="/static/font-awesome-4.1.0/css/font-awesome.min.css" />
{% endblock %} 

{% block main %}
<div class="col-xs-12 col-md-9">
<div class="main">

<div class="nav-bar">
  <div class="nav-tab">
<div class="main-tab">
{% set i=0 %}
{% for nav in all_navs %}
<a href="javascript:;" class="nav-item {%if i==0%}nav-actived{%endif%}" data-id="{{nav.id}}">{{nav.nav_name}}</a>
{% set i=i+1 %}
{%endfor%}
</div>
<div class="sub-tab">
{% for subnav in all_subnavs %}
<a href="javascript:;" class="sub-item" {%if all_navs[0].id != subnav.parent_id%}style="display:none;"{%endif%} data-parent="{{subnav.parent_id}}"  data-id="{{subnav.id}}">{{subnav.nav_name}}</a>
{%endfor%}
</div>
</div>
</div>

<div class="card-list">
<div class="card-inner">
{% set i=0 %}
{% for basketball_game in basketball_games %}
{% set basketball_video=basketball_videos[i] %}
{%if basketball_game or basketball_video%}
{% set feed0=basketball_game[0] %}
<div class="card">
<div class="nav-tab">
<div class="main-tab">
<i class="icon-basketball"></i>
<a href="" class="tab-item">{%if feed0%}{{feed0.updated}}{%endif%}</a>
</div>
</div>
{%if basketball_game%}
<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  {% for feed in basketball_game %}
  <li><a class="video-tag" href="/p/{{feed.post_id}}">{{feed.feed_title}}</a></li>
{%endfor%}
</ul>
  </div>
</div>
{%endif%}

{%if basketball_video%}
<div class="feed">

  <div class="feed-down">
  <ul class="tags">
  {% for feed in basketball_video %}
  <li><a class="video-tag" href="/p/{{feed.post_id}}">{{feed.feed_title}}</a></li>
{%endfor%}
</ul>
  </div>
</div>
{%endif%}
</div>
{%endif%}
{% set i=i+1 %}
{%endfor%}


{% if page!= last_page %}
<div class="card next jscroll-next-parent">
<a href="/nba?p={{page+1}}" id="load-more" class="jscroll-next load-more-btn infscr-loading" style="display: block;">更多</a>
</div>
{% else %}
<div class="card next jscroll-next-parent">
<a href="javascript:;" id="load-more" class="load-more-btn infscr-loading" style="display: block;">没有更多了</a>
</div>
{% endif %}

</div>

</div>


<div class="nav-card" style="display:none;">
  <div class="card">
<div class="nav-tab">
<div class="main-tab">
<i class="icon-basketball"></i>
<a href="" class="tab-item"></a>
</div>
</div>

<div class="feed">
  <div class="feed-down">
  <ul class="tags">
</ul>
  </div>
</div>

<div class="nav-load-more next jscroll-next-parent">
<a href="javascript:;" class="load-more-btn infscr-loading">更多</a>
</div>

</div>
</div>










</div>
</div>

<div class=" col-xs-12 col-md-3">
<div class="card">
                        <div class="cell">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tbody><tr>
                                    <td width="48" valign="top"><a href="/u/{{user_info.username}}"><img src="{{user_info.avatar}}" class="avatar" border="0" align="default" style="max-width: 48px; max-height: 48px;"></a></td>
                                    <td width="10" valign="top"></td>
                                    <td width="auto" align="left"><span class="bigger"><a href="/u/{{user_info.username}}">{{user_info.username}}</a></span>
                                        
                                    </td>
                                </tr>
                            </tbody></table>
                            <div class="sep10"></div>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top: 5px;margin-bottom: 5px;">
                                <tbody><tr>
                                    <td width="33%" align="center"><a href="/my/nodes" class="dark" style="display: block;"><span class="bigger">2</span><div class="sep3"></div><span class="fade-header">节点收藏</span></a></td>
                                    <td width="34%" style="border-left: 1px solid rgba(100, 100, 100, 0.1); border-right: 1px solid rgba(100, 100, 100, 0.1);" align="center"><a href="/my/topics" class="dark" style="display: block;"><span class="bigger">513</span><div class="sep3"></div><span class="fade-header">主题收藏</span></a></td>
                                    <td width="33%" align="center"><a href="/my/following" class="dark" style="display: block;"><span class="bigger">3</span><div class="sep3"></div><span class="fade-header">特别关注</span></a></td>
                                </tr>
                            </tbody></table>
                        </div>
                        
                        
                        
                        <div class="inner"><div class="fr" id="money"><a href="/balance" class="balance_area" style="">70 <img src="//cdn.v2ex.com/static/img/silver.png" alt="S" align="absmiddle" border="0" style="padding-bottom: 2px;"> 12 <img src="//cdn.v2ex.com/static/img/bronze.png" alt="B" align="absmiddle" border="0"></a></div><a href="/notifications" class="fade-header">0 条未读提醒</a></div>
                        
                    </div>

<div class="card">
<div class="feed">
<a href="h/" target="_blank"><img src="http://avati.qiniudn.com/mm.jpg" border="0" width="250"  alt="100offer"></a>
</div>
</div>

<div class="card">
<div class="feed">
<span class="fade-header">今日热议主题</span>
</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/images.jpeg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">巴萨历史最强攻击组合</a>
    </div>

  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/Img384994476.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">15年1月21日库里22分10助大战哈登33分6助回顾</a>
    </div>

  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/20060927000202008fb.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">还是那熟悉的味道 </a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/119660859.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">刺激！火箭vs快船系列赛七场大战十佳球</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/b2b13867.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">霍华德谈胜快船：幸亏没像他们那样被逆转</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/20061018201001f08c5.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">哈维本周四将召开新闻发布会</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/1-1404112314140-L.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">韦德职业生涯高光进攻集锦</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/7bcd64a60ab5301c038bdf3b1d3a4f97_crop_north.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">豪哥：练出爆发力 林书豪身穿湖人队服训练</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/BbsImg143175384320829_770-920.jpg-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">汤普森：不想再回休城</a>
    </div>
  </div>
  </div>

</div>

<div class="feed">
<div class="feed-up">
<div class="avatar feed-left">
    <a href="/"><img class="feed-object avatar-24" src="http://avati.qiniudn.com/MSN-logo-442x442.png-thumb" alt=""></a>
  </div>
  <div class="infos feed-body">
    <div class="title feed-heading">
      <a title="05月20日 亚冠1/8决赛首回合" href="/topics/25553">晚报：哈登45分季后赛新高 火箭胜勇士拒横扫</a>
    </div>
  </div>
  </div>

</div>
</div>

<div class="card">
<div class="feed">
<span class="fade-header">热门标签</span>
</div>
<div class="feed">
<a href="/go/mesos" class="item_node">林书豪</a>
<a href="/go/mesos" class="item_node">火箭</a>
<a href="/go/mesos" class="item_node">广州恒大</a>
<a href="/go/mesos" class="item_node">哈登</a>
<a href="/go/mesos" class="item_node">霍华德</a>
<a href="/go/mesos" class="item_node">皇家马德里</a>
<a href="/go/mesos" class="item_node">巴萨</a>
<a href="/go/mesos" class="item_node">亚冠</a>
<a href="/go/mesos" class="item_node">中国国足</a>
<a href="/go/mesos" class="item_node">NBA</a>
<a href="/go/mesos" class="item_node">韦德</a>
<a href="/go/mesos" class="item_node">詹姆斯</a>
<a href="/go/mesos" class="item_node">C罗</a>
<a href="/go/mesos" class="item_node">梅西</a>
<a href="/go/mesos" class="item_node">内马尔</a>
<a href="/go/mesos" class="item_node">哥斯达黎加</a>
<a href="/go/mesos" class="item_node">法网</a>
<a href="/go/mesos" class="item_node">NCAA</a>
<a href="/go/mesos" class="item_node">勇士</a>
</div>
</div>

</div>
{% endblock %} 

{% block javascript %} 
<script src="/static/jscroll-master/jquery.jscroll.js"></script>
<script type="text/javascript">
        $('.card-list').jscroll({
            loadingHtml: '<a href="/nba?p={{page+1}}" id="load-more" class="load-more-btn infscr-loading" style="display: block;">加载中...</a>',
            contentSelector: '.card-inner',
            nextSelector: 'a.jscroll-next:last',
            autoTrigger: false,
            callback: function(newElems) {},
        });

        $(document).on('click', '.nav-item', function() {
            var nav_id = $(this).attr('data-id');
            $('.nav-actived').removeClass('nav-actived');
            $(this).addClass('nav-actived');
            $('.subnav-actived').removeClass('subnav-actived');

            $(".sub-item").each(function() {
              var parent_id = $(this).attr('data-parent');
              if (nav_id == parent_id) {
                $(this).show();
              } else {
                $(this).hide();
              }
            });

            if ($(this).text() == '全部') {
              $('.card-list').show();
              $('.nav-card').hide();
              return;
            }

            $.getJSON('/get/nav/' + nav_id, function(data) {
              var list_html = '';
              var list = data['list'];
              for (var i=0;i<list.length;i++) {
                list_html += '<li><a class="video-tag" href="/p/'+list[i].post_id+'">'+list[i].feed_title+'</a></li>';
              }
              $('.nav-card .tags').html(list_html);

              var page = data['page']
              if (page.current == page.pages) {
                $('.nav-load-more a').text('没有更多了');
              } else {
                $('.nav-load-more a').text('更多');
                $('.nav-load-more').attr('data-next', page.next);
                $('.nav-load-more').attr('data-nav', nav_id);
              }
            });

            $('.card-list').hide();
            $('.nav-card').show();
            $('.nav-card .tab-item').text($(this).text());
        });

        $(document).on('click', '.nav-load-more', function() {

            if ($('.nav-load-more a').text() == '没有更多了') {
              return;
            }
            var nav_id = $(this).attr('data-nav');
            var next_page = $(this).attr('data-next');

            $.getJSON('/get/nav/' + nav_id + '?p=' + next_page, function(data) {
              var list_html = $('.nav-card .tags').html();
              var list = data['list'];
              for (var i=0;i<list.length;i++) {
                list_html += '<li><a class="video-tag" href="/p/'+list[i].post_id+'">'+list[i].feed_title+'</a></li>';
              }
              $('.nav-card .tags').html(list_html);

              var page = data['page']
              if (page.current == page.pages) {
                $('.nav-load-more a').text('没有更多了');
              } else {
                $('.nav-load-more a').text('更多');
                $('.nav-load-more').attr('data-next', page.next);
                $('.nav-load-more').attr('data-nav', nav_id);
              }
            });
        });

        $(document).on('click', '.sub-item', function() {
            var nav_id = $(this).attr('data-id');
            $('.subnav-actived').removeClass('subnav-actived');
            $(this).addClass('subnav-actived');

            $.getJSON('/get/nav/' + nav_id, function(data) {
              var list_html = '';
              var list = data['list'];
              for (var i=0;i<list.length;i++) {
                list_html += '<li><a class="video-tag" href="/p/'+list[i].post_id+'">'+list[i].feed_title+'</a></li>';
              }
              $('.nav-card .tags').html(list_html);

              var page = data['page']
              if (page.current == page.pages) {
                $('.nav-load-more a').text('没有更多了');
              } else {
                $('.nav-load-more a').text('更多');
                $('.nav-load-more').attr('data-next', page.next);
                $('.nav-load-more').attr('data-nav', nav_id);
              }
            });

            $('.card-list').hide();
            $('.nav-card').show();
            $('.nav-card .tab-item').text($(this).text());
        });
</script>
{% endblock %}
